---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Footer.astro";
---

<footer>
  <Default {...Astro.props}><slot /></Default>

  {
    Astro.url.pathname !== "/" && (
      <script defer src="https://comentario.workaround.org/comentario.js"></script>
      <comentario-comments no-fonts="true" id="comments"></comentario-comments>
    )
  }

  <div class="myfooter">
    This guide is maintained by Christoph Haas since 2003. All content on workaround.org can be used under the terms of
    the
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons BY-NC-SA license</a>.
    Penguin images based on AI art because I suck at drawing.
  </div>
</footer>
