---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Footer.astro";
---

<footer>
  <Default {...Astro.props}><slot /></Default>
  <div class="myfooter">
    Copyright © 2024 Christoph Haas. All content on workaround.org can be used under the terms of the
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons BY-NC-SA license</a>. Penguin images
    based on AI art because I suck at drawing.
  </div>
</footer>
